body {
  background: linear-gradient(to bottom, #c93a3a, #accbcf);
}

h1 {
  font-family: 'Bungee Inline', sans-serif;
  font-weight: 400;
  font-size: 6rem;
  color: white;
  transform: skewY(-5deg);
  margin-bottom: 6rem;
  text-align: center;
  position: relative;
  word-spacing: 3px;
}

h1::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 105%;
  left: 50%;
  background: linear-gradient(to bottom, #c93a3a, #accbcf);
  opacity: 0.8;
  z-index: -1;
  transform: skewY(370deg) translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.card {
  margin: 5px 5px;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Bungee Inline', sans-serif;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-img {
  display: block;
  height: 200px;
  width: 60%;
}

.card-body {
  background: rgb(226, 215, 215);
}

.card-title {
  background: linear-gradient(to right bottom, #c93a3a, #accbcf);
  padding: 1.3rem 0.8rem;
  font-family: 'Bungee Inline', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
  text-align: center;
  word-spacing: 1px;
}

.btn {
  background: gray;
}

.btn:hover:hover,
.btn:active {
  background-color: #c93a3a;
}
